{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Ajouter un événement</h1>
    {# {{ form_start(addEventForm) }}
    {{ form_end(addEventForm) }} #}

{% endblock %}