@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Painting With Chocolate Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Painting With Chocolate Regular'),
    url('../font/Painting_With_Chocolate.woff') format('woff');
}
/* ! ========================ROOTING======================= */
html {
  font-size: 100%;
  scroll-behavior: smooth;
} /*16px*/
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  /* ! COLORS */
  /* ? GREY */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  /* ? REST OF THE COLORS */
  --black: #222;
  --white: #fff;
  --primary-purple: #6a55ea;
  --secondary-purple: #40338c;
  --red: #ce2127;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* ? FONTS */
  --headingFont: 'Montserrat', sans-serif;
  --bodyFont: 'Montserrat', sans-serif;
  --small-text: 0.7em;
  /* ? REST OF THE VARIABLES */
  --bg-color: var(--grey-50);
  --textColor: var(--grey-900);
  --border-radius: 0.5rem;
  --letter-spacing: 1px;
  --transition: all 0.3s ease-in-out;
  --max-width: 1170px;
  --fixed-width: 600px;
  /* ? BOX SHADOWS */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body {
  background: var(--bg-color);
  font-family: var(--bodyFont);
  font-weight: 400;
  color: var(--textColor);
}
p {
  max-width: 40em;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  text-transform: capitalize;
}
small,
.text_small {
  font-size: var(--small-text);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* ? ALERTS */
.alert {
  padding: 0.375rem 0.75rem;
  margin: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* ? FORMS */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  border: 1px solid var(--grey-200);
}
.form-input:focus,
.form-textarea:focus {
  outline: 1px solid var(--grey-300);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
  resize: none;
}
.motif {
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background: none;
  border: 1px solid var(--grey-200);
  border-radius: var(--border-radius);
  background: var(--bg-color);
}
.motif:focus,
.motif:hover {
  outline: 1px solid var(--grey-300);
  border-radius: var(--border-radius);
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}
.title {
  text-align: center;
}
.title h2 {
  margin-bottom: 0.25rem;
}
.item {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1rem;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  width: 60%;
  border-radius: var(--border-radius);
}
#captcha {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ? SPINNER */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.loading {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-purple);
  animation: spinner 0.6s linear infinite;
}
.one4all-font {
  font-family: 'Painting With Chocolate Regular';
}
.bold {
  font-weight: 600;
}
.purple {
  color: var(--primary-purple);
}
.red {
  color: var(--red);
}
section,
article {
  overflow: hidden;
}
/* ? BUTTONS */
.btn {
  cursor: pointer;
  background: var(--primary-purple);
  color: var(--white);
  border: transparent;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  display: inline-block;
}
.btn:hover {
  background: var(--secondary-purple);
  box-shadow: var(--shadow-3);
}
.btn-block {
  width: 100%;
}
/* ? ALERTS */
.alert {
  padding: 0.375rem 0.75rem;
  margin: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* ? FORMS */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  border: 1px solid var(--grey-200);
}
.form-input:focus,
.form-textarea:focus {
  outline: 1px solid var(--grey-300);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
  resize: none;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}
/* ? SPINNER */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-purple);
  animation: spinner 0.6s linear infinite;
}
.title {
  text-align: center;
}
.title h2 {
  margin-bottom: 0.25rem;
}
/* ! NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-2);
  position: sticky;
  background-color: var(--white);
  z-index: 999;
  border-bottom-left-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  transition: var(--transition);
  margin-bottom: 1rem;
}
.hide-navbar {
  box-shadow: none;
}
.nav-links {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--shadow-2);
  background-color: var(--white);
  padding: 0.75rem;
  z-index: 999;
  transform: translate(-100%);
  transition: var(--transition);
}
.nav-btn {
  text-transform: capitalize;
  font-size: 1.1rem;
}
.nav-btn button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem;
}
.nav-anchor {
  color: var(--black);
}
.open-sidebar-btn,
.close-sidebar-btn {
  background: none;
  border: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1.5rem;
  font-size: 1.1rem;
}
.show-sidebar {
  transform: translate(0);
}
/* ! HEADER-SLIDER */
.header-slider {
  position: relative;
}
.slider-container {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
.slide-img {
  height: 100%;
  width: 100%;
}
.slide-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0.7rem;
  color: var(--white);
  background-color: var(--primary-purple);
  text-transform: capitalize;
  border-radius: var(--border-radius);
  transition: var(--transition);
  font-size: 0.7rem;
}
.slide-btn:hover {
  background-color: var(--secondary-purple);
}
.prev-btn,
.next-btn {
  position: absolute;
  bottom: 5%;
  transform: translateY(-50%);
}
.prev-btn {
  left: 10%;
  transform: translateX(-50%);
}
.next-btn {
  right: 10%;
  transform: translateX(50%);
}
.active-slide {
  opacity: 1;
  transform: translateX(0);
  display: block;
}
.next-slide {
  transform: translateX(100%);
}
.prev-slide {
  transform: translateX(-100%);
}
/* ! HEADER FIXE */
.background {
  background-image: url('../../public/assets/header/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-fleur {
  width: 15%;
}
.logo-fleur,
.text-container {
  margin-bottom: 5rem;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.main-logo {
  width: 80%;
}
.text-noir {
  filter: invert(100%);
}
/* ! MOUVEMENT */
.section-mouvement {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.title-mouvement {
  align-self: flex-start;
  margin-bottom: 1.5rem;
  position: relative;
}
.title-mouvement::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-mouvement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-fleur {
  width: 40%;
}
.domaines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.domaines p {
  text-transform: uppercase;
}
.objectifs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.objectifs p {
  text-transform: uppercase;
}
/* ! FONCTIONNEMENT */
.section-fonctionnement {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  justify-content: space-around;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fonctionnement-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fonctionnement h3 {
  text-transform: uppercase;
  font-size: 1.02rem;
  align-self: flex-start;
}
.fonctionnement-img-container {
  width: 90%;
  margin-top: 1.5rem;
}
/* ! PHILOSOPHIE */
.section-philosophie {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
.philo-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/assets/philosophie/bg-yellow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1.5rem;
}
.philo-title {
  margin-left: 1rem;
  align-self: flex-start;
  position: relative;
}
.philo-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.gandhi-img-container {
  width: 80%;
}
.wave {
  width: 100%;
  transform: rotate(180deg);
  margin-top: 1.5rem;
  margin-bottom: -0.5rem;
}
.wave svg {
  fill: #51647e;
}
.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #51647e;
}
.founder-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.philo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.25rem;
  color: var(--white);
  padding: 1rem;
}
.white {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--white);
}
.white:hover {
  color: var(--white);
  background-color: #51647e;
}
/* ! HISTOIRE */
.section-histoire {
  background-color: #fff3db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  row-gap: 2.5rem;
}
.samurai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 1.5rem;
  width: 90%;
}
.samurai-img {
  background-image: url('../../public/assets/histoire/parchemin1000x1000.jpg');
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1.875rem;
  box-shadow: #ce212794 5px 5px, #ce212770 10px 10px, #ce212742 15px 15px,
    #ce212734 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.samurai-text {
  padding: 0.9375rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-4);
}
.hope {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.hope-img-container {
  width: 90%;
}
.hope-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--shadow-4);
  padding: 1rem;
  border-radius: var(--border-radius);
  row-gap: 0.5rem;
}
.soleil-img-container {
  width: 70%;
}
.btn-red {
  background-color: var(--red);
  border: 2px solid var(--red);
}
.btn-red:hover {
  background-color: var(--white);
  color: var(--red);
}
/* ! CONSTAT */
.section-constat {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.constat-title {
  align-self: flex-start;
  margin-left: 1.5rem;
  position: relative;
}
.constat-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.constat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.hand-img-container,
.hand-img-container > img {
  border-radius: var(--border-radius);
}
/* ! REVOLUTION */
.section-revolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.revolution-title {
  align-self: flex-start;
  margin-left: 1.5rem;
  position: relative;
}
.revolution-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.revolution-content,
.article-ambition {
  padding: 1rem;
}
.revolution-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.revolution-img-container,
.revolution-img-container > img {
  border-radius: var(--border-radius);
}
.article-ambition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.25rem;
}
/* ! EVENEMENT-SLIDER */
.evenement-slider {
  position: relative;
}
.event-slider-container {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  background: var(--bg-color);
}
.event-img {
  object-fit: contain;
}
/* ! SOUTIENS */
.section-soutiens {
  margin-top: 1.5rem;
  background-image: url('../../public/assets/presentation/fond_ligue_LHA.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.top {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.soutiens-title {
  align-self: flex-start;
  margin-left: 1.5rem;
  position: relative;
}
.soutiens-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.soutiens-slider {
  position: relative;
}
.soutiens-slider-container {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  padding: 1.5rem;
}
.ligue-img-container {
  width: 70%;
}
/* ! RESEAU */
.section-reseau {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  background-color: #fffeee;
}
.reseau-title {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.reseau-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.reseau-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.increase {
  font-size: 1.25rem;
}
.compteur {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom, #218dbc 5%, #1a7196, #145571, #0d384b);
  border-radius: var(--border-radius);
}
.container-losange {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.containerDecompte {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  position: relative;
}
.losange {
  height: 80px;
  width: 80px;
  background: none;
  border: 4px solid var(--white);
  border-radius: 5px;
  -ms-transform: rotate(45deg) translate(0, 0);
  -moz-transform: rotate(45deg) translate(0, 0);
  -webkit-transform: rotate(45deg) translate(0, 0);
  -o-transform: rotate(45deg) translate(0, 0);
  transform: rotate(45deg) translate(0, 0);
  display: inline-block;
  position: absolute;
  top: 25px;
  opacity: 0.3;
  z-index: 0;
}
.losange::before {
  content: '';
  width: 57px;
  height: 57px;
  border-left: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  display: inline-block;
  top: 9px;
  left: 5px;
  position: absolute;
  opacity: 0.2;
}
.containerDecompte .text-losange {
  transform: translate(60px, 0);
  font-weight: 600;
  margin-bottom: 0;
}
.text-losange > h4 {
  margin-bottom: 0;
  font-size: 30px;
}
.container-losange {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
}
.text-losange {
  color: var(--white);
}
.blue {
  background-color: #0d384b;
  border: 2px solid #0d384b;
  transition: 0.3s;
}
.blue:hover {
  background: white;
  color: #0d384b;
  border: 2px solid #0d384b;
  box-shadow: var(--shadow-3);
}
/* ! COMMUNAUTE */
.section-communaute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  padding: 1.5rem;
}
.communaute-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.communaute {
  text-transform: uppercase;
  font-size: 0.95rem;
}
.communaute-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  text-align: center;
}
.communaute-links {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-purple);
  border-radius: var(--border-radius);
}
.communaute-links p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
.social-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-link {
  border-radius: 50%;
  background: var(--black);
  padding: 0.5rem;
  cursor: pointer;
}
.social-link a {
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 1.1rem;
}
.social-link:hover,
.social-link:hover a {
  background-color: var(--white);
  color: var(--black);
}
.communaute-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  /* justify-items: center; */
  overflow: hidden;
}
.cell {
  box-shadow: var(--shadow-2);
}
.cell:hover {
  box-shadow: var(--shadow-4);
}
/* ! JE SUIS ONE FOR ALL */
.section-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  row-gap: 1.5rem;
}
.challenge-title {
  align-self: flex-start;
  position: relative;
}
.challenge-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.challenge-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.challenge-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.challenge-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.event {
  align-self: flex-start;
  text-transform: uppercase;
}
/* ! NEWS */
.section-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  padding: 1.5rem;
}
.news-title {
  align-self: flex-start;
  position: relative;
}
.news-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.news-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 1.5rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
}
.card:hover {
  box-shadow: var(--shadow-4);
}
.bg-container,
.bg-container > img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.bg-container {
  height: 150px;
  overflow: hidden;
}
.card-title {
  z-index: 1;
  display: flex;
  column-gap: 0.5rem;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
  width: 70%;
  margin: 0 auto;
}
.header p {
  margin: 0;
}
.logo-container {
  width: 80px;
  height: 80px;
  padding: 0.5rem;
  background-color: var(--black);
  border-radius: 0.75rem;
  border: 0.1875rem solid var(--white);
  margin-top: -2.5rem;
  margin-left: 0.25rem;
}
.description {
  padding: 0 0.75rem;
}
.description a {
  color: var(--primary-purple);
}
.icon-container {
  margin: 0.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--white);
}
.youtube {
  background-color: #ff0000;
}
.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.facebook {
  background: linear-gradient(#08c8fe, #0f70fd);
}
/* ! EVENEMENTS */
.section-evenement {
  background-image: url('../../public/assets/evenement/Concerts\ festivals.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  row-gap: 1.5rem;
}
.evenement-title p {
  text-transform: uppercase;
}
.evenement-title > h2 {
  position: relative;
}
.evenement-title > h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-purple);
}
.evenement-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
/* ! CONTACT */
.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}
.contact-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 1.5rem;
}
.contact-cell {
  width: 90%;
  padding: 1rem;
  background-color: #f3effe;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.contact-cell p {
  color: var(--primary-purple);
  font-weight: 600;
}
.btn-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 0.5rem;
}
.contact-icon {
  color: var(--white);
  font-size: 1.25rem;
}
.contact-cell:hover {
  box-shadow: var(--shadow-4);
}
/* ! FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  row-gap: 1.5rem;
  background-color: #192136;
  color: var(--white);
}
.copyright,
.propos,
.follow,
.menu {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1rem;
}
.copyright p,
.propos p {
  margin: 0;
}
.propos h4,
.follow h4,
.menu h4 {
  text-transform: uppercase;
}
.propos a,
.menu a {
  color: var(--white);
}
.menu a {
  text-transform: capitalize;
}
.follow-anchor {
  border-radius: 50%;
  border: 3px solid var(--white);
  background: var(--white);
  padding: 0.5rem;
  transition: var(--transition);
  position: relative;
}
.follow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--white);
  transition: var(--transition);
}
.follow-anchor.ytb {
  background-color: #ff0000;
}
.follow-anchor.fb {
  background: linear-gradient(#08c8fe, #0f70fd);
}
.follow-anchor.insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.follow-anchor:hover .follow-icon {
  transform: rotate(360deg);
}
.btn-up {
  align-self: flex-end;
  display: grid;
  padding: 1rem;
  place-items: center;
  background-color: var(--white);
  color: var(--black);
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  box-shadow: var(--shadow-2);
}
.btn-up:hover {
  background: none;
  box-shadow: var(--shadow-4);
}
/* ! CONTACT */
.section-contactList {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 1fr;
  align-items: center;
  width: 90%;
}
#contact-title {
  grid-column: 1/4;
  grid-row: 1/2;
}
#no-message {
  grid-column: 1/4;
  grid-row: 2/3;
}
.contact {
  background-color: var(--white);
  padding: 1.25rem;
  margin: 1rem;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
}
/* ! ADDEVENT */
.section-addEvent,
.section-editEvent {
  width: 90%;
  margin: 0 auto;
}
/* ! GETEVENTS */
.section-getEvent {
  min-height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 1fr;
  align-items: flex-start;
  width: 90%;
  padding: 1rem;
  gap: 1rem;
}
.getEvent-title {
  grid-column: 1/4;
}
.empty {
  grid-column: 1/4;
  grid-row: 2/3;
}
.singleEvent {
}
/* ! PAGE SOUTIENS */
.section-soutiensPage {
}
/* ! PAGE PHILO */
.section-pagePhilo {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 2rem;
}
.title-container {
  margin: 0 auto;
}
.handContainer {
  border-radius: var(--border-radius);
}
.picture-list {
  padding-top: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1rem;
}
.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-check,
.btn-trash {
  font-size: 1.15rem;
}
.btn-check {
  background-color: var(--white);
  color: var(--green-dark);
}
.btn-check:hover {
  background-color: var(--green-dark);
  color: var(--white);
}
.btn-check-green {
  background-color: var(--green-dark);
  color: var(--white);
}
.btn-check-green:hover {
  background-color: var(--white);
  color: var(--green-dark);
}
.striped {
  text-decoration: line-through;
}
.btn-trash {
  background-color: var(--white);
  color: var(--red-dark);
}
.btn-trash:hover {
  background-color: var(--red-dark);
  color: var(--white);
  row-gap: 1.5rem;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  padding: 1.25rem;
}
.singleEvent:hover {
  box-shadow: var(--shadow-4);
}
.btn-delete {
  background-color: var(--red-light);
  color: var(--red-dark);
}
.btn-delete:hover {
  background-color: var(--red-dark);
  color: var(--red-light);
}
.btn-edit {
  background-color: var(--green-light);
  color: var(--green-dark);
}
.btn-edit:hover {
  background-color: var(--green-dark);
  color: var(--green-light);
}
/* ! DETAILS */
.section-details {
  row-gap: 1.5rem;
}
.soutiensPage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.details {
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section-details .btn {
  align-self: flex-start;
  margin-left: 5rem;
  padding-bottom: 1rem;
}
.soutiensPage-content,
.soutiensPage-img-container {
  width: 90%;
}
.pagePhilo-ambition {
  padding-bottom: 1rem;
}
.pagePhilo-ambition-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fleurContainer {
  margin: 1.5rem auto 0rem auto;
  width: 60%;
}
/* ! FAQ */
.section-faq {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
}
.question-grid {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.question-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: calc(50% - 1rem);
  padding: 0.75rem;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.answer {
  width: 70%;
  display: none;
}
.answer.showed {
  display: block;
}
.rotate {
  transition: var(--transition);
  transform: rotate(-90deg);
}

/*page-evenement */
.challenge-text-container .challenge-btn {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.section-page-evenement {
  line-height: 30px;
  font-size: large;
}
.challenge-text-container .challenge-titre h3 {
  color: var(--secondary-purple);
  font-size: 25px;
  margin-top: 20px;
}
.challenge-je-suis-container {
  line-height: 30px;
  font-size: medium;
  color: black;
}
.challenge-image {
  margin-left: 110px;
  margin-top: 50px;
}
.challenge-text-boutton {
  margin-right: 110px;
}
.container-evenement-content {
  line-height: 30px;
  font-size: large;
  color: var(--grey-900);
  margin-top: 50px;
  margin-bottom: 50px;
}
.nos-evenement-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.challenge-image-titre {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.challenge-je-suis-container {
  margin-top: 50px;
}
.nos-evenement-image2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nos-evenement-image1 {
  margin-right: 50px;
}
.evenement-content1-text {
  margin-left: 50px;
  margin-top: -15px;
}
.defi-famine-container {
  background-color: rgba(197, 232, 232, 0.388);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.defi-famine-content-2 {
  margin-right: 100px;
}
.defi-famine-content-2 h2 {
  margin-top: 40px;
  color: var(--secondary-purple);
}
.defi-famine-content {
  display: flex;
  justify-content: space-between;
}
.image-defi-famine {
  margin-left: 100px;
  margin-top: 20px;
}
.image-defi-famine-titre {
  display: flex;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}
.defi-famine-btn {
  display: flex;

  align-items: center;
  justify-content: center;
}
/*page-mission */
.section-page-mission {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.mission-container1 h2 {
  display: flex;
  font-size: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--secondary-purple);
}

.mission-container1 .mission-content {
  display: flex;
  flex-direction: column;

  align-items: center;
  align-content: center;
  justify-content: center;
}
.mission-container1 .mission-content .mission-text p {
  display: flex;
  justify-content: center;
}
.mission-image1 img {
  margin-top: 40px;
  width: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.mission-container2 {
  display: flex;
  padding-bottom: 50px;
  padding-top: 40px;
  justify-content: center;
  background-color: var(--grey-200);
  color: var(--white);
}
.mission-container2 h2 {
  margin-bottom: 50px;
  display: flex;

  align-content: center;
  justify-content: center;
}
.mission-container2 h2 {
  color: rgba(204, 154, 2, 0.862);
}
.mission-container2 span {
  font-weight: 100;
  color: var(--grey-500);
}
.mission-container2 .btn {
  padding: 15px;
  margin: 10px;
}
.mission-container3 {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.mission-container3 .mission-image3 {
  width: 50%;
}
.mission-container3 .titre1 {
  color: rgba(204, 154, 2, 0.862);
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.mission-container3 .titre2 {
  margin-bottom: 20px;
}

/* ! MEDIAQUERIES */
@media screen and (min-width: 375px) {
  /* MOUVEMENT */
  .title-mouvement::after {
    width: 88%;
  }
  /* JE SUIS ONE4ALL */
  .challenge-title::after {
    width: 60%;
  }
  /* EVENEMENT */
  .evenement-title > h2::after {
    width: 85%;
  }
  .defi-famine-content-2 {
    flex-direction: column;
  }
}
@media screen and (min-width: 425px) {
  /* MOUVEMENT */
  .title-mouvement::after {
    width: 78%;
  }
  /* JE SUIS ONE4ALL */
  .challenge-title::after {
    width: 100%;
  }
  /* EVENEMENT */
  .evenement-title > h2::after {
    width: 72%;
  }
}

@media screen and (min-width: 768px) {
  /* NAVBAR */
  .nav-links {
    width: 50%;
  }
  /* HEADER FIXE */
  .background {
    height: 100vh;
  }
  .logo-fleur,
  .text-container {
    margin-bottom: 10rem;
  }
  /* MOUVEMENT */
  .title-mouvement::after {
    width: 100%;
  }
  .img-fleur {
    width: 30%;
  }
  #domains {
    width: 50%;
  }
  /* FONCTIONNEMENT */
  .banner-img-container {
    width: 60%;
  }
  .fonctionnement-img-container {
    width: 65%;
  }
  /* PHILO */
  .gandhi-img-container {
    width: 65%;
  }
  .founder-img-container {
    width: 65%;
  }
  /* HISTOIRE */
  .histoire-title-container {
    width: 65%;
  }
  .samurai-img-container {
    width: 50%;
  }
  .hope-img-container {
    width: 70%;
  }
  .soleil-img-container {
    width: 40%;
  }
  /* SOUTIENS */
  .ligue-img-container {
    width: 40%;
  }
  /* RESEAU */
  .reseau-title {
    width: 65%;
  }
  .earth-container {
    width: 45%;
  }
  .compteur,
  .container-losange {
    width: 60%;
  }
  /* COMMUNAUTE */
  .communaute-title {
    width: 40%;
  }
  .communaute-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  #cell-1 {
    transform: rotate(-2deg);
  }
  #cell-2 {
    transform: rotate(3deg);
  }
  #cell-3 {
    transform: rotate(-3deg);
  }
  #cell-4 {
    transform: rotate(2deg);
  }
  /* NEWS */
  .news-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: stretch;
  }
  .card {
    justify-content: space-between;
  }
  .logo-container {
    margin-top: -3.85rem;
  }
  /* EVENEMENT */
  .evenement-title > h2::after {
    width: 74%;
  }
  /* CONTACT */
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* FOOTER */
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .copyright,
  .propos,
  .follow,
  .menu {
    width: 50%;
  }
  /* PAGE PHILO */
  .picture-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
  }
  .fleurContainer {
    width: 50%;
  }
  .title-container {
    width: 50%;
  }
  .content-revolution1 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  /* NAVBAR */
  .nav-links {
    width: 30%;
  }
  /* HEADER-SLIDER */
  .slider-container {
    height: 50vh;
    width: 100%;
  }
  .slide-btn {
    font-size: 1rem;
  }
  /* HEADER FIXE */
  .logo-fleur,
  .text-container {
    margin-bottom: 12rem;
  }
  /* MOUVEMENT */
  .content {
    flex-direction: row;
    column-gap: 1rem;
  }
  .img-fleur {
    width: 55%;
  }
  .domaines {
    justify-content: space-evenly;
  }
  #domains {
    width: 85%;
  }
  /* PHILO */
  .gandhi-img-container {
    width: 50%;
  }
  .founder {
    flex-direction: row;
  }
  /* HISTOIRE */
  .samurai-container {
    flex-direction: row;
    width: 100%;
    padding: 1.5rem;
  }
  .samurai-img-container {
    width: 30%;
  }
  .samurai-text {
    width: 50%;
  }
  .hope {
    flex-direction: row;
  }
  /* CONSTAT */
  .constat-content {
    flex-direction: row;
    column-gap: 1.5rem;
  }
  /* REVOLUTION */
  .revolution-content {
    flex-direction: row;
    column-gap: 1.5rem;
  }
  .revolution-text {
    width: 50%;
  }
  .revolution-img-container {
    width: 55%;
  }
  /* SOUTIENS */
  .section-soutiens {
    flex-direction: row;
  }
  .top {
    padding-bottom: 1.5rem;
  }
  /* RESEAU */
  .reseau-title {
    width: 50%;
  }
  .reseau-content {
    flex-direction: row;
  }
  .compteur,
  .container-losange {
    width: 100%;
  }
  .container-losange {
    flex-direction: row;
  }
  /* COMMUNAUTE */
  .section-communaute {
    flex-direction: row;
    column-gap: 1.5rem;
  }
  .communaute-title {
    width: 60%;
  }
  .communaute-links {
    flex-direction: row;
  }
  .communaute-link {
    width: 90%;
  }
  .communaute-grid {
    width: 50%;
  }
  /* JE SUIS ONE4ALL */
  .challenge-content {
    flex-direction: row;
    column-gap: 1.5rem;
  }
  /* NEWS */
  .news-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #ytb-1 {
    order: 1;
  }
  #insta-1 {
    order: 2;
  }
  #facebook-1 {
    order: 3;
  }
  #ytb-2 {
    order: 4;
  }
  #insta-2 {
    order: 5;
  }
  #facebook-2 {
    order: 6;
  }
  /* EVENEMENT */
  .evenement-title > h2::after {
    width: 54%;
  }
  /* CONTACT */
  .contact-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  /* SOUTIENS PAGE */
  .title-ligue-container {
    margin: 0 auto;
    width: 70%;
  }
  .soutiensPage-picture-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 1rem;
  }
  .soutiensPage-img-container,
  .soutiensPage-img-container-vert {
    width: 33%;
  }
  .soutiensPage-img-container-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 1rem;
  }
  /* PAGE PHILO */
  .pagePhilo-ambition {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  /* NAVBAR */
  .nav-links {
    flex-direction: row;
    transform: translate(0);
    width: 100%;
    height: initial;
    position: initial;
    box-shadow: none;
    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
  }
  .open-sidebar-btn,
  .close-sidebar-btn {
    display: none;
  }
  /* HEADER FIXE */
  .logo-fleur,
  .text-container {
    margin-bottom: 15.5rem;
  }
  /* PHILO */
  .gandhi-img-container {
    width: 45%;
  }
  .founder {
    padding: 1.5rem;
  }
  .founder-img-container {
    width: 40%;
  }
  /* HISTOIRE */
  .histoire-title-container {
    width: 40%;
  }
  .samurai-img-container {
    width: 20%;
  }
  .hope-img-container {
    width: 40%;
  }
  .soleil-img-container {
    width: 33%;
  }
  /* SOUTIENS */
  .ligue-img-container {
    width: 55%;
  }
  /* RESEAU */
  .reseau-title {
    width: 35%;
  }
  .earth-container {
    width: 20%;
  }
  /* COMMUNAUTE */
  .communaute-grid {
    width: 35%;
  }
  /* EVENEMENT */
  .evenement-title > h2::after {
    width: 38%;
  }
  /* PAGE PHILO */
  .fleurContainer {
    width: 30%;
  }
}
